/* Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&display=swap");

.jumbotron__home {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.55) 0%,
      rgba(0, 0, 0, 0.55) 100%
    ),
    url("../../Images/jumbotron.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 692px;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  text-align: center;
  margin-top: -25px;
  background-position: center;
  background-repeat: no-repeat;
}

.jumbotron__about {
  background-color: #000;
  background-size: cover;
  height: 692px;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  text-align: center;
  margin-top: -32px;
  background-position: center;
  background-repeat: no-repeat;
}

.jumbotron .title__1 {
  color: #fff;
  margin-top: 10%;
  font-weight: 800;
  font-size: 58px;
  font-family: "Roboto Mono", monospace;
}

.jumbotron .title__1 span {
  letter-spacing: 3px;
}

.jumbotron .logo {
  position: absolute;
  left: 95px;
  top: 12px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn__Get-Touch {
  width: 200px;
  margin-top: 20px;
}

.btn__Get-Touch span {
  font-size: 14px;
  font-weight: 600;
  font-family: "Roboto Mono", monospace;
}

.photo__about {
  height: 300px;
  margin-top: 100px;
  margin-left: -50px;
}

.text__about {
  color: #fff;
  font-weight: 500;
  font-family: "Roboto Mono", monospace;
}

.text__about span {
  color: #00c8ab;
}

.desc__about {
  color: #fff;
  margin-right: 130px;
  margin-top: 70px;
  font-family: "Roboto Mono", monospace;
}

.border__services {
  position: relative;
  padding: 90px;
}

.border__services:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 25%;
  height: 50%;
  border-left: 10px solid #00c8ab;
}

.border__services2 {
  position: relative;
  padding: 90px;
}

.border__services2:after {
  content: "";
  position: absolute;
  right: 0px;
  top: 220px;
  height: 50%;
  border-right: 10px solid #00c8ab;
}

.row__services {
  margin-top: -300px;
  margin-left: 80px;
}

.title__services {
  margin-top: 50px;
  font-weight: 800;
  letter-spacing: -10;
  font-family: "Roboto Mono", monospace;
}

.img__card-service {
  width: 100%;
  height: 100%;
}

.card__services {
  width: 14rem;
  border: none;
  margin-bottom: 40px;
}

.card__services-title {
  margin-top: 40px;
  font-weight: 600;
  font-family: "Roboto Mono", monospace;
}

.card__services-text {
  font-size: 14px;
  color: #616161;
  font-family: "Roboto Mono", monospace;
}

.row__skills {
  margin-top: 100px;
  margin-bottom: 20px;
}

.top__projects {
  margin-top: 120px;
}

.text__footer-sc {
  margin-top: 100px;
  color: #fff;
  float: left;
}

ul {
  list-style-type: none;
}

.icon__footer {
  width: 45px;
  height: 45px;
  margin-right: 14px;
}

.li-2 {
  margin-left: -80px;
  margin-top: 20px;
}

.li2 {
  width: 45px;
  height: 45px;
  margin-right: 14px;
}

.li-3 {
  margin-left: -80px;
  margin-top: 12px;
  margin-left: -94px;
}

.li3 {
  width: 70px;
  height: 70px;
  margin-right: 2px;
}

.li-4 {
  margin-left: -80px;
  margin-top: 10px;
}

.li4 {
  width: 38px;
  height: 38px;
  margin-right: 14px;
}

.li__footer-name {
  color: #fff;
  font-size: 16px;
}

.ul__footer {
  margin-top: 160px;
  margin-left: -268px;
}

.form__footer {
  margin-top: 100px;
}

.btn__Get-Submit {
  width: 160px;
  float: right;
}

.btn__Get-Submit span {
  font-size: 14px;
  font-weight: 600;
  font-family: "Roboto Mono", monospace;
}

.title__contact {
  margin-top: 80px;
  color: #fff;
  font-weight: 800;
  letter-spacing: -10;
  font-family: "Roboto Mono", monospace;
}
